
*.lst
*.classpath
*.project
*.DS_Store
08-camel-service/src/working-with-camel/.settings/org.eclipse.jdt.core.prefs
08-camel-service/src/working-with-camel/data/processed/orders/2019-07-01-22/queue_orders-csv_ID_gusmacbook.local-58850-1562012646866-3_1_2_1_1.xml
08-camel-service/src/working-with-camel/.settings/org.eclipse.jdt.core.prefs
08-camel-service/src/working-with-camel/.settings/org.eclipse.jdt.core.prefs
08-camel-service/src/working-with-camel/data/processed/orders/2019-07-01-22/queue_orders-csv_ID_gusmacbook.local-58850-1562012646866-3_1_2_1_1.xml
